<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
    <a href="stores/new" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Добавить</a>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Наименованние</th>
                <th scope="col">Расшифровка</th>
                <th scope="col">Приоритет</th>
                <th scope="col">Ценовая зона</th>
                <th scope="col">Бизнес единица</th>
                <th scope="col">организация</th>
                <th scope="col">Ведомость торговых ограничений</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="store : ${storePage.content}">
                <td th:text="${store.getName()}">Store name</td>
                <td th:text="${store.getDescription()}">Store description</td>
                <td th:text="${store.getPriority()}">Store priority</td>
                <td th:text="${store.getPriceZone().getName()}">Store price zone</td>
                <td th:text="${store.getBusinessUnit().getName()}">Store business unit</td>
                <td th:text="${store.getOrganization().getName()}">Store organization</td>
                <td th:text="${store.getThresholdValues().getName()}">Store threshold values</td>
                <td><a th:href="@{/stores/{id}/edit(id=${store.getId()})}">Изменить</a></td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination pagination-sm" th:if="${storePage.totalPages > 0}">
        <li class = "page-item active" th:each = "pageNumber : ${numbers}" th:class = "${pageNumber == storePage.number} ? 'page-item active' : 'page-item'" aria-current="page">
            <a class="page-link" th:href="@{'/stores?page=' + ${pageNumber}}" th:text="${pageNumber + 1} ">1</a>
        </li>
    </ul>
</body>
</html>