<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <<th:block th:insert="common.html :: header"></th:block>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/assortmentplans}" th:object="${assortmentPlan}">
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"  name="name"/>
        <label for="typeOfAssortmentPlans">Select type of assortment plans</label>
        <select th:field="*{typeOfAssortmentPlans}" id="typeOfAssortmentPlans">
            <option th:each="typeOfAssortmentPlans : ${typesOfAssortmentPlans}" th:value="${typeOfAssortmentPlans.getId()}" th:name="typeOfAssortmentPlans" th:text="${typeOfAssortmentPlans.getName()}"></option>
        </select>
        <input type="submit" value="Create!"/>
    </form>
</div>
</body>
</html>