<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <<th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
    <form th:method="POST" th:action="@{/assortmentplans}" th:object="${assortmentPlan}">
        <label for="name">Введите наименование</label>
        <br>
        <input type="text" th:field="*{name}" id="name"  name="name"/>
        <br>
        <label for="typeOfAssortmentPlans">Выберите тип ассортиментного плана</label>
        <br>
        <select th:field="*{typeOfAssortmentPlans}" id="typeOfAssortmentPlans">
            <option th:each="typeOfAssortmentPlans : ${typesOfAssortmentPlans}" th:value="${typeOfAssortmentPlans.getId()}" th:name="typeOfAssortmentPlans" th:text="${typeOfAssortmentPlans.getName()}"></option>
        </select>
        <br>
        <br>
        <input type="submit" value="Добавить"/>
    </form>
</div>
</body>
</html>