<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
    <form th:method="POST" th:action="@{/nomenclatures}" th:object="${nomenclature}">
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="assortmentPlan">Select assortment plan</label>
        <select th:field="*{assortmentPlan}" id="assortmentPlan">
            <option th:each="assortmentPlan : ${assortmentPlans}" th:value="${assortmentPlan.getId()}" th:name="assortmentPlan" th:text="${assortmentPlan.getName()}"></option>
        </select>
        <input type="submit" value="Create!"/>
    </form>
</div>
</body>
</html>