<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
  <form th:method="POST" th:action="@{/thresholdvaluestable/{id}(id=${thresholdValuesTable.getId()})}"  th:object="${thresholdvaluestable}">
    <label for="thresholdCategory">Select category</label>
    <select th:field="*{thresholdCategory}" id="thresholdCategory">
      <option th:each="category : ${T(ru.bspl.pet.tradingmarket.models.ThresholdCategories).values()}"
              th:value="${category}" th:text="${category}"></option>
    </select>
    <label for="minPrice">Enter minPrice</label>
    <input type="text" th:field="*{minPrice}" id="minPrice"/>
    <label for="maxPrice">Enter maxPrice</label>
    <input type="text" th:field="*{maxPrice}" id="maxPrice"/>
    <label for="deviation">Enter deviation</label>

    <input type="text" th:field="*{deviation}" id="deviation"/>
    <label for="threshold">Select threshold values</label>
    <select th:field="*{thresholdValues}" id="threshold">
      <option th:each="threshold : ${thresholdValues}" th:value="${threshold.getId()}" th:name="threshold" th:text="${threshold.getName()}"></option>
    </select>
    <input type="submit" value="Create!"/>
  </form>
  <br>
  <form th:method="DELETE" th:action="@{/thresholdvaluestable/{id}/delete(id=${thresholdValuesTable.getId()})}">
    <input type="submit" value="Delete"/>
  </form>
</div>
</body>
</html>