<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body>
<div>Threshold Values table</div>
<div th:each="thresholdvalue : ${thresholdvaluestable}">
    <b th:text="${thresholdvalue.getId()}">Threshold Value id</b>
    <b th:text="${thresholdvalue.getMinPrice()}">Threshold Value name</b>
    <b th:text="${thresholdvalue.getMaxPrice()}">Threshold Value name</b>
    <b th:text="${thresholdvalue.getDeviation()}">Threshold Value name</b>
    <a th:href="@{/thresholdvaluestable/{id}(id=${thresholdvalue.getId()})}">Перейти</a>
</div>
</body>
</html>