<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
    <form th:method="POST" th:action="@{/businessunits}" th:object="${businessUnit}">
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="description">Enter description</label>
        <input type="text" th:field="*{description}" id="description"/>
        <input type="submit" value="Create!"/>
    </form>
</div>
</body>
</html>