<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div >
    <form th:method="PATCH" th:action="@{/thresholdvalues/{id}/{rowid}/edit(id=${thresholdValuesTable.getThresholdValues().getId()}, rowid=${thresholdValuesTable.getId()})}" th:object="${thresholdValuesTable}">
        <label for="thresholdCategory">Выберите категорию</label>
        <br>
        <select th:field="*{thresholdCategory}" id="thresholdCategory">
            <option th:each="thresholdCategory : ${thresholdCategories}" th:value="${thresholdCategory}" th:name="thresholdCategory" th:text="${thresholdCategory.getName()}"></option>
        </select>
        <br>
        <label for="minPrice">Введите мин цену диапазона</label>
        <br>
        <input type="text" th:field="*{minPrice}" id="minPrice"/>
        <br>
        <label for="maxPrice">Введите макс цену диапазона</label>
        <br>
        <input type="text" th:field="*{maxPrice}" id="maxPrice"/>
        <br>
        <label for="deviation">Введите отклонение</label>
        <br>
        <input type="text" th:field="*{deviation}" id="deviation"/>
        <br>
        <input type="submit" value="Изменить"/>
    </form>
</div>
</body>
</html>