<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
  <form th:method="POST"  th:action="@{/counterpartsnomenclatures/{id}(id=${counterpartsNomenclature.getId()})}" th:object="${counterpartsNomenclature}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="multiplicityOf">Enter multiplicity Of</label>
    <input type="text" th:field="*{multiplicityOf}" id="multiplicityOf"/>
    <label for="nomenclature">Select nomenclature</label>
    <select th:field="*{nomenclature}" id="nomenclature">
      <option th:each="nomenclature : ${nomenclatures}" th:value="${nomenclature.getId()}" th:name="nomenclature" th:text="${nomenclature.getName()}"></option>
    </select>
    <label for="counterparty">Select counterparty</label>
    <select th:field="*{counterparty}" id="counterparty">
      <option th:each="counterparty : ${counterparties}" th:value="${counterparty.getId()}" th:name="counterparty" th:text="${counterparty.getName()}"></option>
    </select>
    <input type="submit" value="Create!"/>
  </form>
  <br>
  <form th:method="DELETE" th:action="@{/counterpartsnomenclatures/{id}/delete(id=${counterpartsNomenclature.getId()})}">
    <input type="submit" value="Delete"/>
  </form>
</div>
</body>
</html>