<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<a href="organizations/new" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Add</a>
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody >
    <tr th:each="organization : ${organizations}">
        <th scope="row" th:text="${organization.getId()}">Price zone id</th>
        <td th:text="${organization.getName()}">Price zone name</td>
        <td th:text="${organization.getDescription()}">Price zone description</td>
        <td><a th:href="@{/organizations/{id}/edit(id=${organization.getId()})}">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>

</html>