<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
    <a href="tradingmarkets/new" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Добавить</a>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody >
            <tr th:each="tradingMarket : ${tradingMarkets}">
                <td th:text="${tradingMarket.getName()}">наименование</td>
                <td><a th:href="@{/tradingmarkets/{id}/open(id=${tradingMarket.getId()})}">Подробнее</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>