<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div >
    <form th:method="PATCH" th:action="@{/tradingmarkets/{id}(id=${tradingMarket.getId()})}" th:object="${tradingMarket}">
        <label for="name">Введите наименование</label>
        <input type="text" th:field="*{name}" id="name"/>
        <input type="submit" value="Изменить"/>
    </form>

    <a th:href="@{/tradingmarkets/{id}/newstore(id=${tradingMarket.getId()})}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Добавить склад</a>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Склад</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="store : ${tradingMarketStores}">
                <th scope="row" th:text="${store.getStore().getName()}">Наименование</th>
                <td><a th:href="@{/tradingmarkets/{id}/{storeid}/edit(id=${store.getTradingMarket().getId()},storeid=${store.getStore().getId()})}">Изменить склад</a></td>
                <td>
                    <form th:method="DELETE" th:action="@{/tradingmarkets/{id}/{storeid}(id=${store.getTradingMarket().getId()},storeid=${store.getStore().getId()})}" >
                        <input type="submit" value="Удалить"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br>

    <a th:href="@{/tradingmarkets/{id}/calc(id=${tradingMarket.getId()})}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Выполнить расчет</a>
    <br>
    <a th:href="@{/tradingmarkets/{id}/createorders(id=${tradingMarket.getId()})}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Создать заказы</a>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Склад</th>
                <th scope="col">АП</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Номен пост</th>
                <th scope="col">Кол-во в потр</th>
                <th scope="col">Кратность</th>
                <th scope="col">Округл потр</th>
                <th scope="col">Сток склада</th>
                <th scope="col">Сток пост</th>
                <th scope="col">Цена пост</th>
                <th scope="col">Срок годности</th>
                <th scope="col">Привед цена</th>
                <th scope="col">Лучшая цена</th>
                <th scope="col">Скорость</th>
                <th scope="col">Есть в прайсе</th>
                <th scope="col">Сопоставлена номенклатура</th>
                <th scope="col">Контроль СГ</th>
                <th scope="col">Контроль кратности</th>
                <th scope="col">Контроль мин остатка</th>
                <th scope="col">Контроль макс остатка</th>
                <th scope="col">Контроль лучшей цены</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tradingMarketDistribution : ${tradingMarketDistributions}">
                <th scope="row" th:text="${tradingMarketDistribution.getStore().getName()}">Threshold category</th>
                <th scope="row" th:text="${tradingMarketDistribution.getAssortmentPlan().getName()}">Min price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getCounterparty().getName()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getCounterpartsNomenclature().getName()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getDemandQNT()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getMultiplicityOf()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getRoundDemandQNT()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getOnStockQNT()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getCounterpartiesStock()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getCounterpartiesPrice()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getShelfLife()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getConvertedPrice()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getBestPrice()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.getSalesSpeed()}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.isInPriceControl() ? '+' : '-'}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.isNomenComparitionControl() ? '+' : '-'}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.isShelfLifeControl() ? '+' : '-'}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.isMultiplicityControl() ? '+' : '-'}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.isMinSupplBalanceControl() ? '+' : '-'}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.isMaxStockControl() ? '+' : '-'}">Max price</th>
                <th scope="row" th:text="${tradingMarketDistribution.isBestPriceControl() ? '+' : '-'}">Max price</th>
            </tr>
        </tbody>
    </table>
    <form th:method="DELETE" th:action="@{/tradingmarkets/{id}(id=${tradingMarket.getId()})}" >
        <input type="submit" value="Удалить"/>
    </form>
</div>
</body>
</html>