<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div >
    <form th:method="PATCH" th:action="@{/tradingmarkets/{id}/{storeid}(id=${tradingMarketStore.getTradingMarket().getId()},storeid=${tradingMarketStore.getStore().getId()})}" th:object="${store}">
    <label for="id">Select store</label>
    <select th:field="*{id}" id="id">
        <option th:each="str : ${stores}" th:value="${str.getId()}" th:name="id" th:text="${str.getName()}"></option>
    </select>
    <input type="submit" value="Save!"/>
    </form>
</div>
</body>
</html>