
<th:block th:fragment="header">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <title th:text="${header}">Title</title>
                    <span class="fs-4" th:text="${header}">Simple header</span>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-right mb-md-0">
                        <li><a href="/main" class="nav-link px-2 text-secondary">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Инфраструктура компании
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/pricezones">Ценовые зоны</a></li>
                                <li><a class="dropdown-item" href="/businessunits">Бизнес единицы</a></li>
                                <li><a class="dropdown-item" href="/organizations">Огранизации</a></li>
                                <li><a class="dropdown-item" href="/stores">Склады</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Номенклатура
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/typesofassortmentplans">Типы ассортиментных планов</a></li>
                                <li><a class="dropdown-item" href="/assortmentplans">Ассортиментные планы</a></li>
                                <li><a class="dropdown-item" href="/nomenclatures">Номенклатуры</a></li>
                                <li><a class="dropdown-item" href="/counterpartsnomenclatures">Номенклатура поставщиков</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Counterparties information
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/counterparties">Поставщики</a></li>
                                <li><a class="dropdown-item" href="/counterpartsnomenclatures">Номенклатура поставщиков</a></li>
                                <li><a class="dropdown-item" href="/agreements">Соглашения с поставщиками</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Trading market
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/thresholdvalues">Ограничения для торгов</a></li>
                                <li><a class="dropdown-item" href="/tradingmarkets">Торговые площадки</a></li>
                                <li><a class="dropdown-item" href="/orders">Заказы</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form th:action ="@{/logout}" th:method="POST">
                        <input type="submit" value="Logout" >
                    </form>
                 </div>
             </div>
         </header>

 </th:block>
