<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
    <form th:method="POST" th:action="@{/pricezones}" th:object="${priceZone}">
        <label for="name">Введите наименование</label>
        <br>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <label for="description">Введите примечание</label>
        <br>
        <input type="text" th:field="*{description}" id="description"/>
        <br>
        <input type="submit" value="Добавить"/>
    </form>
</div>
</body>
</html>