<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
    <form th:method="POST" th:action="@{/agreements}" th:object="${agreement}">
        <label for="organization">Выберите организацию</label>
        <br>
        <select th:field="*{organization}" id="organization">
            <option th:each="organization : ${organizations}" th:value="${organization.getId()}" th:name="organization" th:text="${organization.getName()}"></option>
        </select>
        <br>
        <label for="counterparty">Выберите поставщика</label>
        <br>
        <select th:field="*{counterparty}" id="counterparty">
            <option th:each="counterparty : ${counterparties}" th:value="${counterparty.getId()}" th:name="counterparty" th:text="${counterparty.getName()}"></option>
        </select>
        <br>
        <label for="defermentOfPayment">Введите острочку платежа, дн</label>
        <br>
        <input type="text" th:field="*{defermentOfPayment}" id="defermentOfPayment"/>
        <br>
        <label for="defermentRate">Введите ставку по отсрочке, %</label>
        <br>
        <input type="text" th:field="*{defermentRate}" id="defermentRate"/>
        <br>
        <label for="minFirstOrderAmoung">Введите минимальную сумму первичного заказа</label>
        <br>
        <input type="text" th:field="*{minFirstOrderAmoung}" id="minFirstOrderAmoung"/>
        <br>
        <label for="minSecondaryOrderAmoung">Введите минимальную сумму вторичных заказов</label>
        <br>
        <input type="text" th:field="*{minSecondaryOrderAmoung}" id="minSecondaryOrderAmoung"/>
        <br>
        <input type="submit" value="Добавить!"/>
    </form>
</div>
</body>
</html>