<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:insert="common.html :: header"></th:block>
</head>
<body class="text-bg-dark p-3">
<div>
    <form th:method="POST" th:action="@{/agreements}" th:object="${agreement}">
        <label for="organization">Select organization</label>
        <select th:field="*{organization}" id="organization">
            <option th:each="organization : ${organizations}" th:value="${organization.getId()}" th:name="organization" th:text="${organization.getName()}"></option>
        </select>
        <label for="counterparty">Select counterparty</label>
        <select th:field="*{counterparty}" id="counterparty">
            <option th:each="counterparty : ${counterparties}" th:value="${counterparty.getId()}" th:name="counterparty" th:text="${counterparty.getName()}"></option>
        </select>
        <label for="defermentOfPayment">Enter deferment Of Payment</label>
        <input type="text" th:field="*{defermentOfPayment}" id="defermentOfPayment"/>
        <label for="defermentRate">Enter deferment rate</label>
        <input type="text" th:field="*{defermentRate}" id="defermentRate"/>
        <label for="minFirstOrderAmoung">Enter minFirstOrderAmoung</label>
        <input type="text" th:field="*{minFirstOrderAmoung}" id="minFirstOrderAmoung"/>
        <label for="minSecondaryOrderAmoung">Enter minSecondaryOrderAmoung</label>
        <input type="text" th:field="*{minSecondaryOrderAmoung}" id="minSecondaryOrderAmoung"/>
        <input type="submit" value="Create!"/>
    </form>
</div>
</body>
</html>